#MBA202224-123_Ritam Maji_Burger Singh Assignment
Analysis of Financial data of Sabli Gate Hapur Burger SIngh Outlet

In [26]:
!pip install pandas
import pandas as pd
!pip install openpyxl

Requirement already satisfied: pandas in c:\users\ritam\anaconda3\lib\site-packages (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ritam\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ritam\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ritam\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\ritam\anaconda3\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in c:\users\ritam\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: openpyxl in c:\users\ritam\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\ritam\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [27]:
# Importing the Dataset Sabli Gate Hapur (2)
data_02 = pd.read_csv("C:/Users/ritam/OneDrive/Desktop/assignmentsforbusinessanalyst (3)/Sabli Gate Hapur (2).csv")
data_02

,Branch_Labels,Business_Brand,Business_Date,Invoice_Date,Bill_Split_Group_Name,Statement_Number,Order_Source,Source_Order_Number,Source_Outlet_Id,Invoice_Type,...,Channel_Label,Session,Category,Subcategory,Item_Brand,Account_Name,Item_Group_Name,Variants,Reason_For_CancelVoidNon_Chargeable,Remarks_for_CancelVoidNon_Chargeable
0,Outlet,Burger Singh,26-09-2023,26-09-2023,Commercial Bill,6425869.0,zomato,5199151942,20320216.0,Sale,...,NaN,NaN,Fries & Sides,NaN,Burger Singh,NaN,Dilli-6 Fries (Regular),NaN,NaN,NaN
1,Outlet,Burger Singh,01-09-2023,01-09-2023,Commercial Bill,6070987.0,zomato,5148062040,20320216.0,Sale,...,NaN,NaN,Fries & Sides,NaN,Burger Singh,NaN,Dilli-6 Fries (Regular),NaN,NaN,NaN
2,Outlet,Burger Singh,15-09-2023,15-09-2023,Tax Invoice,6268868.0,POS,NaN,NaN,Sale,...,NaN,NaN,Fries & Sides,NaN,Burger Singh,NaN,Dilli-6 Fries (Regular),NaN,NaN,NaN
3,Outlet,Burger Singh,25-09-2023,25-09-2023,Tax Invoice,6414925.0,POS,NaN,NaN,Sale,...,NaN,NaN,Fries & Sides,NaN,Burger Singh,NaN,Dilli-6 Fries (Regular),NaN,NaN,NaN
4,Outlet,Burger Singh,23-09-2023,23-09-2023,Tax Invoice,6386776.0,POS,NaN,NaN,Sale,...,NaN,NaN,Fries & Sides,NaN,Burger Singh,NaN,Dilli-6 Fries (Regular),NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11051,Outlet,Burger Singh,31-10-2023,31-10-2023,Tax Invoice,6889264.0,POS,NaN,NaN,Sale,...,NaN,NaN,Combos,Regular & Large Combos,Burger Singh,NaN,Paneer Pind-er - Combo,NaN,NaN,NaN
11052,Outlet,Burger Singh,31-10-2023,31-10-2023,Commercial Bill,6887864.0,swiggy,1.57704E+14,565605.0,Sale,...,NaN,NaN,Combos,Regular & Large Combos,Burger Singh,NaN,Junior Udta Punjab - Combo,NaN,NaN,NaN
11053,Outlet,Burger Singh,31-10-2023,31-10-2023,Tax Invoice,6892422.0,POS,NaN,NaN,Sale,...,NaN,NaN,Combos,Regular & Large Combos,Burger Singh,NaN,Veg Snacker - Combo,NaN,NaN,NaN
11054,Outlet,Burger Singh,31-10-2023,31-10-2023,Commercial Bill,6897303.0,swiggy,1.57741E+14,565605.0,Sale,...,NaN,NaN,Combos,Regular & Large Combos,Burger Singh,NaN,Veg Snacker - Combo,NaN,NaN,NaN
11055,Outlet,Burger Singh,31-10-2023,31-10-2023,Tax Invoice,6893515.0,POS,NaN,NaN,Sale,...,NaN,NaN,Combos,Regular & Large Combos,Burger Singh,NaN,Combo Nikku Singh - Veg,NaN,NaN,NaN

In [28]:
data_02.shape #Number of Rows and Columns in dataset

(11056, 60)

In [29]:
num_empty_columns = data_02.isna().all().sum() # Count the number of columns with all missing values


print("Number of columns with absolutely no data:", num_empty_columns)

Number of columns with absolutely no data: 13

In [30]:
data_02 = data_02.dropna(axis=1, how='all') # Drop columns with all missing values in the original DataFrame

data_02.shape

(11056, 47)

In [31]:
data_02 = data_02.dropna(subset=['Order_Source'])

num_unique_order_sources = data_02['Order_Source'].nunique() # Counting the number of unique values in the 'Order_Source' column

order_source_counts = data_02['Order_Source'].value_counts() # Get the counts of each unique value in the 'Order_Source' column

print("Number of unique values in 'Order_Source':", num_unique_order_sources)
print("Unique values in 'Order_Source' and their counts:")
print(order_source_counts)

Number of unique values in 'Order_Source': 4
Unique values in 'Order_Source' and their counts:
Order_Source
POS       6931
zomato    3328
swiggy     760
dotpe       34
Name: count, dtype: int64

In [32]:
# Converting 'Business_Date' column to datetime format
data_02['Business_Date'] = pd.to_datetime(data_02['Business_Date'], format='%d-%m-%Y')

# detecting which months data available in the dataset
months_present = data_02['Business_Date'].dt.month.dropna().unique() #filtering out missing values

month_names = {1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June', 
               7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'}

# Converting month numbers to month names
months_present_names = [month_names[month] for month in months_present]

# Print the months present in the data
print("Months present in the data are:", months_present_names)

Months present in the data are: ['September', 'November', 'October']

In [33]:
# Calculating the 'Food_Cost': 40% of revenue - creating a column for Food cost
data_02['Food_Cost'] = data_02['Net_Amount'] * 0.4

In [34]:
# Create a dictionary to map order sources to commission rates
commission_rates = {
    'POS': 0.23,              # for POS commission 23% 
    'zomato': 0.237,          # for zomato commission 23.7%
    'swiggy': 0.223,          # for swiggy commission 22.3%
    'dotpe': 0.23            # assuming dotpe commision is also 23%, because it is not mentioned
}

# Function to calculate commission based on order source
def calculate_commission(row):
    return row['Net_Amount'] * commission_rates[row['Order_Source']]

# Apply the function to create the new column
data_02['Commission_on_delivery_sales'] = data_02.apply(calculate_commission, axis=1)

In [35]:
# Calculating the 'Total_Cost' column
data_02['Total_Cost'] = (data_02['Materials_Cost'] +
                                  data_02['Supplies_Cost'] +
                                  data_02['Food_Cost'] +
                                  data_02['Commission_on_delivery_sales'])

In [36]:
# Filtering data for September
data_september_02 = data_02[data_02['Business_Date'].dt.month == 9]     # Calculating total revenue for September
total_revenue_september_02 = data_september_02['Net_Amount'].sum()     # Calculating total cost for September
total_cost_september_02 = data_september_02['Total_Cost'].sum()     # Calculating total profit for September
total_profit_september_02 = total_revenue_september_02 - total_cost_september_02

# Filtering data for October
data_october_02 = data_02[data_02['Business_Date'].dt.month == 10]     # Calculating total revenue for October
total_revenue_october_02 = data_october_02['Net_Amount'].sum()     # Calculating total cost for October
total_cost_october_02 = data_october_02['Total_Cost'].sum()     # Calculating total profit for October
total_profit_october_02 = total_revenue_october_02 - total_cost_october_02

# Filtering data for November
data_november_02 = data_02[data_02['Business_Date'].dt.month == 11]     # Calculating total revenue for October
total_revenue_november_02 = data_november_02['Net_Amount'].sum()     # Calculating total cost for October
total_cost_november_02 = data_november_02['Total_Cost'].sum()     # Calculating total profit for October
total_profit_november_02 = total_revenue_november_02 - total_cost_november_02

# Printing the results
print("Total revenue for September:", total_revenue_september_02)
print("Total cost for September:", total_cost_september_02)
print("Total profit for September:", total_profit_september_02)

print("\nTotal revenue for October:", total_revenue_october_02)
print("Total cost for October:", total_cost_october_02)
print("Total profit for October:", total_profit_october_02)

print("\nTotal revenue for November:", total_revenue_november_02)
print("Total cost for November:", total_cost_november_02)
print("Total profit for November:", total_profit_november_02)

Total revenue for September: 415390.69000000006
Total cost for September: 397999.67178
Total profit for September: 17391.018220000085

Total revenue for October: 366322.97000000003
Total cost for October: 349423.53629
Total profit for October: 16899.433710000012

Total revenue for November: 351960.87
Total cost for November: 339938.11453
Total profit for November: 12022.755469999975

In [37]:
import pandas as pd

# Creating a dictionary to hold the data
data_dict = {
    'Month': ['September', 'October', 'November'],
    'Revenue': [total_revenue_september_02, total_revenue_october_02, total_revenue_november_02],
    'Total Cost': [total_cost_september_02, total_cost_october_02, total_cost_november_02],
    'Profit': [total_profit_september_02, total_profit_october_02, total_profit_november_02]
}

# Creating a DataFrame from the dictionary
monthly_summary = pd.DataFrame(data_dict)

# Printing the DataFrame
print(monthly_summary)

       Month    Revenue    Total Cost       Profit
0  September  415390.69  397999.67178  17391.01822
1    October  366322.97  349423.53629  16899.43371
2   November  351960.87  339938.11453  12022.75547

In [38]:
# importing the data into Excel in a new sheet called 'PL analysis'
excel_file_path = r"C:\Users\ritam\OneDrive\Desktop\assignmentsforbusinessanalyst (3)\Sabli Gate Hapur (2).xlsx"
existing_data = pd.read_excel(excel_file_path)

# Create a new Excel writer object with the existing file
with pd.ExcelWriter(excel_file_path, mode='a', engine='openpyxl') as writer:
    monthly_summary.to_excel(writer, sheet_name='PL analysis', index=False)

In [39]:
#Analysis based on Order source for Buger Singh Outlet
# Define a function to calculate total revenue, total cost, and total profit for each order source and month
def calculate_metrics(data, order_source):
    data_filtered = data[data['Order_Source'] == order_source]
    total_revenue = data_filtered['Net_Amount'].sum()
    total_cost = data_filtered['Total_Cost'].sum()
    total_profit = total_revenue - total_cost
    return total_revenue, total_cost, total_profit

# Create a list to store the results for each order source and month
results = []

# Loop through each order source
for order_source in ['POS', 'zomato', 'swiggy', 'dotpe']:
    # Calculate metrics for September
    revenue_september, cost_september, profit_september = calculate_metrics(data_september_02, order_source)
    
    # Calculate metrics for October
    revenue_october, cost_october, profit_october = calculate_metrics(data_october_02, order_source)
    
    # Calculate metrics for November
    revenue_november, cost_november, profit_november = calculate_metrics(data_november_02, order_source)
    
    # Append the results to the list
    results.append({
        'Order_Source': order_source,
        'September_Revenue': revenue_september,
        'September_Cost': cost_september,
        'September_Profit': profit_september,
        'October_Revenue': revenue_october,
        'October_Cost': cost_october,
        'October_Profit': profit_october,
        'November_Revenue': revenue_november,
        'November_Cost': cost_november,
        'November_Profit': profit_november
    })

# Create a DataFrame from the results
result_analysis = pd.DataFrame(results)

In [ ]:
# importing the data into Excel in a new sheet called 'Analysis of POS'

with pd.ExcelWriter(excel_file_path, mode='a', engine='openpyxl') as writer:
    result_analysis.to_excel(writer, sheet_name='Analysis of POS', index=False)